// Define variables for your color scheme

// variable color
$dark-red: #6d2021;
$red:#E13434;
$blue: #1b1eeb;
$cyan: #1eddd4;
$turquoise: #3ddd92;
$green: #13c21c;
$light-green: #9bda95;
$bright-green: #02fc0f;
$deep-green: #095f0d;
$light-gray: #c0c0c0;
$gray: #777777;
$dark: #111111;
